.service_container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    overflow-x: scroll;
}

.card{
    display: flex;
    flex: 0 0 auto; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top: 1px solid rgba(255,255, 255, 0.5);
    border-left: 1px solid rgba(255,255, 255, 0.5);
    box-shadow: 1rem 1rem 2rem rgba(0, 0, 0, 0.346);
    height: 20rem;
    width: 15rem;
    backdrop-filter:blur(.5rem) ;
    overflow: hidden;
    white-space: normal;
}

.card h1{
    font-size: 1.5rem;
}

.card p{
    padding: 1rem;
}

@media (max-width: 1000px){
    .service_container{
        justify-content: flex-start;
    }
    .card{
        margin-top: 1rem;
        margin-left: .5rem;
        margin-right: 1rem;
    }
}
