
.footer{
    display: flex;
    flex-direction: row;
    margin: 2rem;
    justify-content: space-between;
}

.announcement{
    font-size: 1.25rem;
    margin-bottom: .5rem;;
}

.business_hours td{
    font-size: 1.25rem;
    padding: .5rem;
}

.map_container {
    height: 50vh;
    width: 50%;

}


.directions{
    margin-top: 6%;
    background-color: #fff;
    border: '2px solid #fff';
    border-radius: '3px';
    box-shadow: "0 2px 6px rgba(0,0,0,.3)" ;
    color: 'rgb(25,25,25)';
    cursor: 'pointer';
    font-family: 'Roboto,Arial,sans-serif';
    line-height: 1rem;
    padding: .5rem;
}

.direction_image{
     vertical-align: middle;  
}
.directions span{
    vertical-align: middle;
}