
.footer{
    display: flex;
    flex-direction: row;
    margin: 2rem;
    justify-content: space-between;
}

.announcement{
    font-size: 1.25rem;
    margin-bottom: .5rem;;
}

.business_hours td{
    font-size: 1.25rem;
    padding: .5rem;
}

