.Logo{
	height: auto;
	width: 21rem;
}

.hamburgerMenu{
	margin-right: 2rem;
	margin-top: 2rem;
}
.topNav{
	display: flex;
}

@media(min-width:1000px){
	.mainMenu{
		margin: 1rem;
	}
	.Logo {
		size: 3rem;
	}
		
	.topNav{
		justify-content: space-evenly;
	}

	.top_nav_element{
		font-family: Tangerine-Bold;
		font-size: 3rem;
		color: black;
		text-decoration: none;
	}
	
	.top_nav_element{
		padding-top: 5rem;
		padding-right: 1rem;
	}	

	.hamburgerMenu{
		display: none;
	}

	.hamburgerElement{
		display: none;
	}
	
}

@media (max-width: 1000px) {
	.mainMenu{
		margin: 1%;
	}
	.Logo{
		width: 10rem;
		padding-top: .5rem;
		padding-left: .5rem;
	}
	.topNav{
		justify-content: space-between;
	}	
	.hamburgerLinks{
		flex-direction: row;
		margin-left: 5%;
	}
	.top_nav_element {
		display: none;
	}
	.hamburgerLinks {
		display: none;
		flex-direction: column; 
		align-items: center;
	}

	.hamburgerElement{
		border: 3px solid black;
		padding: .5rem 30%;
		margin: 1rem 1rem;
	}

	.hamburgerMenu{
		display: flex;
	}

	.faBars {
		color: black;
		padding: 0 .5rem;
	}
	
	.faBars:hover{
		color: azure;
		background-color: grey;
	}

	.hamburgerElement{
		font-family: Tangerine-Bold;
		font-size: 2rem;
		color: black;
		text-decoration: none;
	}
} 